<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>My Lovely Todo App</span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="content">
  <div 
    fxFlexFill
    fxLayout="row wrap"
    fxLayout.xs="column wrap"
    fxLayout.sm="column wrap"
    fxLayoutGap="15px grid"
  >
  <div>
    <form [formGroup]="form" (ngSubmit)="addTodo()" #formDirective="ngForm">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Add Todo
          </mat-card-title>
          <mat-card-title>Edit Todo
          </mat-card-title> 
        </mat-card-header>
        <mat-card-content>
          <mat-form-field>
            <input matInput formControlName="task"/>
          </mat-form-field>
          <div>
            <label>Priority  &nbsp;</label>
            <mat-radio-group
              arial-label="Select an options"
              formControlName = "priority"
            >
              <mat-radio-button *ngFor="let p of priorities" value="{{p}}">
                {{p}} &nbsp;</mat-radio-button>
            </mat-radio-group>
          </div>

          <mat-form-field>
            <input 
              matInput
              [matDatepicker]="picker"
              formControlName = "dueDate"
              [min]="tomorrow"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            >
            <mat-datepicker #picker></mat-datepicker>

            </mat-datepicker-toggle>
          </mat-form-field>

          <div> <!-- buttons -->
            <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Add</button>
            <button mat-raised-button color="primary" type="button">Update</button>
          </div>
        </mat-card-content>
      </mat-card>

      <mat-card>
        <mat-card-header>My Todo List</mat-card-header>
        <mat-card-content>
          <div *ngFor="let t of todosValues">
            <span >{{t.task}} - {{t.dueDate | date:"dd/MM/yyyy" }} - {{t.priority}}</span><br>
          </div>
          
        </mat-card-content>
      </mat-card>
    </form>
  </div>



  </div>
</div>